<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://availabilitytestssample.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7b868ab1-5dfa-4de0-87fb-ff7c89a3cd93/resourceGroups/devcompass-ranasch-sandbox-444104/providers/Microsoft.Web/sites/AvailabilityTestsSample</ResourceId>
    <UserName>$AvailabilityTestsSample</UserName>
    <_SavePWD>true</_SavePWD>
    <IsLinux>true</IsLinux>
    <PublishUrl>https://availabilitytestssample.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>